<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interpreter</title>
    <!-- <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/script.js"></script> -->
    <link th:href="@{css/style.css}" rel="stylesheet">
    <script th:src="@{js/script.js}"></script>
</head>
<body>
    <div id="container">
        <div id="stroke-numbers-container">
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div><div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
            <div class="stroke-num">
                1
            </div>
        </div>
        <div id="input-area-container">
            <div id="input-area" contenteditable="true">Hello <span class="error">World</span></div>
            <!-- <textarea ><b>Omg</b></textarea> -->
        </div>
        <div id="bnf-container">
            
        </div>
    </div>
    <button id="run">Выполнить</button>
</body>
</html>